<ul>
    <li *ngFor="let node of model">
        <div *ngIf="node" class="control">

            <input type="checkbox" [(ngModel)]="node.content.enabled">
            {{node.content.label}}
            <input type="text" [(ngModel)]="node.content.friendlyName" *ngIf="node.content.enabled">

            <details *ngIf="node.grouped">
                <summary>{{node.content.label}}</summary>
                <datawhore-dim-list [model]="node.content.value"></datawhore-dim-list>
            </details>

        </div>
    </li>
</ul>