<div [ngSwitch]="activeTab" class="columns">

    <aside class="menu column is-2" *ngIf="rainSchemas.length">
        <p class="menu-label">
            Rain Schemas
        </p>
        <ul class="menu-list">
            <li *ngFor="let schema of rainSchemas">
                <a (click)="setActiveTab(schema.type)" [class.is-active]="activeTab === schema.type">
                    {{schema.type}}
                </a>
                <ul>
                    <li (click)="setActiveTab(schema.type); activeSubTab = 'configs'" [class.is-bold]="activeTab === schema.type && activeSubTab === 'configs'">
                        <a>config</a>
                    </li>
                    <li (click)="activeSubTab = 'structure'" [class.is-bold]="activeSubTab === 'structure'">
                        <a>structure</a>
                    </li>
                    <li (click)="activeSubTab = 'drops'" [class.is-bold]="activeSubTab === 'drops'">
                        <a>drops</a>
                    </li>
                </ul>
            </li>
            <li (click)="setActiveTab('new-schema')">
                <small class="is-success"><span>+</span> add schema</small>
            </li>
        </ul>
    </aside>

    <div class="column" *ngIf="activeTab === 'new-schema' || !rainSchemas.length" [class.is-hidden]="activeTab !== 'new-schema'">
        <div class="header">
            <h3 class="heading"><strong>Rain Schema & Subtypes</strong></h3>
        </div>
        <p>
            With social networks that only send one type of post, the default should be "<em>rain</em>".
            <br>Whereas some networks have additional types of streams, i.e. <strong>facebook</strong> drops, would be <em> posts</em>
            by default. But since it has other types of streams: <em>likes</em>,
            <em>links</em>, etc.
            <br>Some networks <em>only</em> send different types, like <strong>tumblr</strong>, that sends things like <em>audio</em>,
            <em>text</em>, <em>photo</em>, etc.
        </p>
        <hr>
        <h3 class="heading">Add rain schemas</h3>
        <div class="is-flex columns">
            <div class="column is-two-thirds">

                <div class="control is-horizontal">
                    <div class="control-label">
                        <label class="label">Type</label>
                    </div>
                    <div class="control is-grouped">
                        <p class="control is-expanded">
                            <input #newRain class="input" type="text" placeholder="rain<.subtype>" [(ngModel)]="newRainType">
                        </p>
                    </div>
                </div>
                <div class="control is-horizontal">
                    <div class="control-label">
                        <label class="label">Fetch URL</label>
                    </div>
                    <div class="control is-grouped">
                        <p class="control is-expanded">
                            <input #fetchUrl class="input" type="text" placeholder="/v1/me/player/recently-played?limit=1" [(ngModel)]="rainFetchUrl">
                        </p>
                    </div>
                </div>

                <a class="button is-success" *ngIf="newRain.value && fetchUrl.value" (click)="writeRain({typeName: newRain.value, fetchUrl: fetchUrl.value})">
                    Save
                </a>
            </div>
        </div>

    </div>
    <div class="column is-10" *ngFor="let schema of rainSchemas; let $i = index;" [class.is-hidden]="activeTab !== schema.type">
        <div class="column columns" *ngIf="activeSubTab === 'structure'">
            <div class="column is-half" *ngIf="rain[$i]?.properties">
                <div class="header">
                    <h3 class="is-pulled-left heading">{{schema.type}} Example</h3>
                </div>
                <hr>
                <div class="example" *ngIf="rain[$i].properties">
                    <datawhore-space-item [properties]="rain[$i].properties" [type]="schema.type" [space]="space" (linkingToSpace)="updateSpace($event)">
                    </datawhore-space-item>
                </div>
            </div>
            <div class="column is-half" *ngIf="rain.length">

                <div class="header">
                    <h3 class="is-pulled-left heading">{{schema.type}} Structure</h3>
                </div>
                <hr>
                <div *ngIf="!rain[$i]?.properties">
                    No <strong>{{schema.type}}</strong> configuration yet.
                </div>
                <div class="structure" *ngIf="rain[$i]?.properties">
                    <ul>
                        <li *ngFor="let property of rain[$i].properties">
                            {{property.friendlyName}} ⇢ <cite>{{property.schemaPath}}</cite>
                        </li>
                    </ul>
                    <p *ngIf="!rain[$i].properties">
                        No <strong>{{schema.type}}</strong> properties yet
                    </p>
                </div>

            </div>
        </div>
        <div class="column columns" *ngSwitchCase="schema.type" [class.is-hidden]="activeSubTab !== '' && activeSubTab !== 'configs'">

            <div class="column is-half">

                <div class="header">
                    <h3 class="heading">{{schema.type}} Settings</h3>
                </div>
                <hr>
                <label class="label">
                    Rename rain type
                </label>
                <div class="control has-addons">
                    <input #overrideRainType class="input is-expanded" type="text" [(ngModel)]="schema.type">
                </div>
                <div class="control">
                    <label class="label">
                        API Fetch URL
                    </label>
                    <div class="control has-addons">
                        <input #fetchUrl class="input is-expanded" type="text" placeholder="/v1/me/player/recently-played?limit=1" [(ngModel)]="schema.fetchUrl">
                        <a class="button is-warning" [class.is-loading]="isFetchingSchema" (click)="writeRain($i, schema.type, true)">
                            <span class="icon is-small"><i class="fa fa-refresh"></i></span>
                            <!--<span>Fetch schema</span>-->
                        </a>
                    </div>
                </div>
                <hr>
                <a class="button is-success" (click)="saveRawRain($i, schema.type)">Update</a>
                <a class="button is-danger" (click)="removeSchema(schema.type)">
                    <span>Delete</span>
                </a>
            </div>
            <div class="column is-half">
                <div class="header is-in">
                    <h3 class="is-pulled-left heading">{{schema.type}} Dimensions</h3>
                </div>
                <hr>
                <div class="configure-rain">

                    <label class="label is-inline-flex">
                        <a class="icon is-warning" (click)="toggleOverrideSchema =! toggleOverrideSchema"><i class="fa fa-gavel"></i></a>
                        <span>Override object path to rain schema</span>
                    </label>
                    <div class="control has-addons" *ngIf="toggleOverrideSchema">
                        <input #overrideRain class="input is-expanded" type="text" placeholder="Enter object path (a.b.c)" [(ngModel)]="schemaObjectOverride">
                        <a class="button is-success" *ngIf="overrideRain.value" (click)="saveRawRain($i, schema.type)">
                            Override
                        </a>
                    </div>
                    <datawhore-rain-form
                        [model]="schema"
                        [rainSchemaIndex]="$i"
                        [dimType]="schema.type"
                        [space]="space"
                        (onRainSchema)="updateRainSchema($event)"
                        (onNewDimensions)="newDimensions($event)">
                    </datawhore-rain-form>
                </div>
            </div>
        </div>
    </div>
</div>
