<div class="columns">

    <!-- TODO: make sidebar for day-viewer component -->
    <div class="column is-quarter">
  
      <div class="column">
  
        <p>Viewing:
          <br>{{selectedTimestamp | amDateFormat:'dddd, MMMM Do YYYY'}}</p>
  
        <hr>
  
        <!-- TODO: make date-explorer component -->
        <div class="is-flex date-picker-wrapper">
          <date-picker class="is-flex center" date="selectedDate" [selectedTimestamp]="selectedTimestamp" (onDateRangeChange)="changeDateRange($event)"></date-picker>
        </div>
        <hr>
  
        <datawhore-simple-message [message]="message" [status]="status"></datawhore-simple-message>
        <datawhore-stacked-bar-horizontal [data]="stats" *ngIf="stats"></datawhore-stacked-bar-horizontal>
        <!-- TODO: make drop-counter component -->
        <!-- 
        <div class="is-flex" *ngIf="!isLoadingSpaces">
          <ul class="is-flex center" class="drop-counter is-flex is-filling center">
            <li *ngFor="let space of dropsBySpace | orderBy:'count'" (click)="toggleSpaceDrops(space.name)" [ngStyle]="{'flex': getDropFlex(space), 'background-color': space.color}"
            class="is-flex">
            <div class="is-flex-inline">
              <space-icon [space]="space.name" [classes]="['is-circle']"></space-icon>
              <div>{{space.count}}</div>
            </div>
          </li>
        </ul>
        
        <div class="button is-loading" *ngIf="isLoadingSpaces">Loading...</div>
        
      </div> -->
  
  
      </div>
    </div>
  
    <div class="column is-three-quarters">
  
      <div class="column" *ngIf="isLoadingSpaces">
        <div class="is-loading"></div>
      </div>
  
      <div *ngFor="let story of stories | orderBy:'timestamp':true">
        
        <div *ngFor="let segment of story.content.segments" [ngSwitch]="segment.type">
  
          <div *ngSwitchCase="'place'" class="place">
            <span class="icon is-small">
              <i class="fa fa-{{(segment.place && segment.place.type === 'unknown') ? 'map-pin' : segment.place.type}}" *ngIf="segment.place"></i>
            </span>
            <span>{{(segment.place)?segment.place.name:''}} ({{segment.startTime | amDateFormat:'h:mma' }} to {{segment.endTime|
              amDateFormat:'h:mma' }})
            </span>
            <datawhore-segment [segment]="segment"></datawhore-segment>
          </div>
  
          <div *ngSwitchDefault>
            <datawhore-segment [segment]="segment"></datawhore-segment>
          </div>
  
        </div>
        
        <datawhore-drop-atomic [type]="story.type" [drop]="story" *ngIf="!story.content.segments"></datawhore-drop-atomic>

      </div>
  
  
    </div>
  
