<section class="section">
    <div class="container">
        <div class="columns">

            <div class="column">
                <datawhore-add-space (addedSpace)="onAddedSpace($event)"></datawhore-add-space>

                <article class="media" *ngFor="let space of spaces">
                    <figure class="media-left">
                        <p class="image is-32x32">
                            <img src="{{(space.icon) ? space.icon : 'http://bulma.io/images/placeholders/32x32.png'}}">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <div>
                                <figure class="image is-24x24 is-circle" *ngIf="space.avatar">
                                    <img src="{{space.avatar}}">
                                </figure>
                                <var *ngIf="!space.username">{{space.name}}</var>
                                <span *ngIf="space.username">@{{space.username}}</span>
                            </div>
                            <p>{{space.description}}</p>


                            <div class="is-flex is-pulled-left">
                                <span class="icon is-small" *ngIf="space?.oauth">
                                    <i class="fa fa-{{(space.oauth.connected)? 'check' : 'exclamation'}}-circle is-{{(space.oauth.connected)? 'success' : 'danger'}}"></i>
                                </span>
                                <small>Last modified: {{space.modified | date:'medium'}}</small>
                            </div>

                            <span class="tag is-dark is-pulled-right" *ngFor="let rainType of space.rainSchemas">{{rainType
                                }}</span>
                            <!--<pre>{{space|json}}</pre>-->
                        </div>
                    </div>
                    <div class="media-right">
                        <a routerLink="/space/{{space.name}}">Edit Space</a>
                    </div>
                </article>
                <hr>
            </div>
        </div>

    </div>
</section>
