<section class="section">
    <div class="container">
        <div class="columns">
            
            <div class="column">

                <datawhore-add-space (addedSpace)="onAddedSpace($event)"></datawhore-add-space>
                
                <article class="media" *ngFor="let space of spaces">
                    <div class="media-left space-drop-chart is-flex">
                        <datawhore-donut-chart [data]="space.counts" [color]="space.display.color" *ngIf="space.display"></datawhore-donut-chart>
                        <figure>
                            <p class="image is-32x32">
                                    <datawhore-space-icon [space]="space.name" [size]="32"></datawhore-space-icon>
                            </p>
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <div>
                                <figure class="image is-24x24 is-circle">
                                    <img src="{{space.avatar}}">
                                </figure>
                                <var *ngIf="!space.username">{{space.name}}</var>
                                <span *ngIf="space.username">@{{space.username}}</span>
                            </div>
                            <p>{{space.description}}</p>


                            <div class="is-flex is-pulled-left">
                                <span class="icon is-small" *ngIf="space?.oauth">
                                    <i class="fa fa-{{(space.oauth.connected)? 'check' : 'exclamation'}}-circle is-{{(space.oauth.connected)? 'success' : 'danger'}}"></i>
                                </span>
                                <small>Last modified: {{space.modified | date:'medium'}}</small>
                            </div>

                            <!-- <div class="tags has-addons is-pulled-right" *ngFor="let drops of space.counts">
                                <span class="tag is-dark">{{(drops.count?schema.dropCount:0)}}</span>
                                <span class="tag">{{schema.type}}</span>
                            </div> -->
                            
                            <!--<pre>{{space|json}}</pre>-->
                        </div>
                    </div>
                    <div class="media-right">
                        <a [routerLink]="['/space/' + space.name, {tab: 'space'}]">Edit Space</a>
                    </div>
                </article>
                <hr>
            </div>
        </div>

    </div>
</section>
