<div class="container">
    <p>isLoadingSpaces: {{isLoadingSpaces}}</p>
    <p>isLoadingSettings: {{isLoadingSettings}}</p>
    <div class="columns">
        <div class="column is-half" *ngFor="let space of addingSpaces">
            {{space.inEditMode}}
            <div class="card">
                <header class="card-header">
                    <div class="card-header-title is-inline-flex">
                        <figure class="image is-32x32">
                            <img src="http://bulma.io/images/placeholders/32x32.png">
                        </figure>
                        <h4>{{space.name}}</h4>
                    </div>
                    <span class="card-header-icon">
                        <a class="delete" (click)="cancelSpaceAdd(space)"></a>
                    </span>
                </header>
                <datawhore-add-space class="column is-half"></datawhore-add-space>
            </div>
        </div>

        <div class="column is-half" *ngFor="let space of spaces">
            <datawhore-space class="card is-flex-vertical" [space]="space" [class.in-edit-mode]="space.inEditMode"></datawhore-space>
        </div>
    </div>

</div>