<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img class="logo" src="assets/images/logo.png" alt="erratik logo">
      </a>
      <a routerLink="/settings" class="nav-item is-tab" routerLinkActive="is-active">settings</a>
      <a routerLink="/spaces" class="nav-item is-tab" routerLinkActive="is-active">spaces</a>
      <a routerLink="/cloud" class="nav-item is-tab" routerLinkActive="is-active">cloud</a>
      <a routerLink="/threejs" class="nav-item is-tab" routerLinkActive="is-active">threejs</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <!--&lt;!&ndash;<div class="nav-right nav-menu">-->
      <!--<a class="nav-item is-tab">-->
        <!--<figure class="image is-16x16" style="margin-right: 8px;">-->
          <!--<img src="http://bulma.io/images/jgthms.png">-->
        <!--</figure>-->
        <!--Profile-->
      <!--</a>-->
      <!--<a class="nav-item is-tab">Log out</a>-->
    <!--</div>&ndash;&gt;-->
  </div>
</nav>
