<div class="columns">

  <!-- TODO: make sidebar for day-viewer component -->
  <div class="column is-quarter">

    <div class="column">

      <p>Viewing:
        <br>{{selectedTimestamp | amDateFormat:'dddd, MMMM Do YYYY'}}</p>

      <hr>

      <!-- TODO: make date-explorer component -->
      <div class="is-flex date-picker-wrapper">
        <datawhore-date-picker class="is-flex center" date="selectedDate" [selectedTimestamp]="selectedTimestamp" (onDateRangeChange)="changeDateRange($event)"></datawhore-date-picker>
      </div>
      <hr>

      <datawhore-simple-message [message]="message" [status]="status"></datawhore-simple-message>
      <!-- TODO: make drop-counter component -->
      
    </div>
  </div>

  <div class="column is-three-quarters">

			<div>
					<h1>Map testing</h1>
					<scene #scene [clearColor]="'#000'">
						<camera [x]="40" [y]="40" [z]="40" [aspectRatio]="scene.width / scene.height" [target]="scene" >
						</camera>
						<axis></axis>
						<mesh>
							<geometry [width]="5" [height]="5" [depth]="5"></geometry>
							<material [color]="'#dddddd'" [wireframe]="true"></material>
						</mesh>
					</scene>
				</div>

  </div>
