<div class="columns">

	<!-- TODO: make sidebar for day-viewer component -->
	<div class="column is-quarter">

		<div class="column">

			<p>Viewing: {{selectedTimestamp | amDateFormat:'dddd, MMMM Do YYYY'}}</p>
			<hr>

			<!-- TODO: make date-explorer component -->
			<div class="is-flex date-picker-wrapper">
				<datawhore-date-picker class="is-flex center" date="selectedDate" [selectedTimestamp]="selectedTimestamp" (onDateRangeChange)="changeDateRange($event)"></datawhore-date-picker>
			</div>

			<!-- TODO: make drop-counter component -->
			<!-- <hr>
			<div class="is-flex" *ngIf="!isLoadingSpaces">
				<ul class="is-flex center" class="drop-counter is-flex is-filling center">
					<li *ngFor="let space of dropsBySpace | orderBy:'count'" (click)="toggleSpaceDrops(space.name)" [ngStyle]="{'flex': getDropFlex(space), 'background-color': space.color}"
					class="is-flex">
					<div class="is-flex-inline">
						<datawhore-space-icon [space]="space.name" [classes]="['is-circle']"></datawhore-space-icon>
						<div>{{space.count}}</div>
					</div>
				</li>
			</ul>
			
			<div class="button is-loading" *ngIf="isLoadingSpaces">Loading...</div>
			
		</div> -->


		</div>
	</div>

	<div class="column is-three-quarters">
		<div class="column" *ngIf="isLoadingSpaces">

			<div class="is-loading"></div>

		</div>

		<div *ngFor="let story of stories | orderBy:'timestamp':true">
			

			<div *ngFor="let segment of story.content.segments" [ngSwitch]="segment.type">
				
				<div>

						<div *ngSwitchCase="'place'" class="place">
							<span class="icon is-small">
								<i class="fa fa-{{(segment.place && segment.place.type === 'unknown') ? 'map-pin' : segment.place.type}}" *ngIf="segment.place"></i>
							</span>
							<span>{{(segment.place)?segment.place.name:''}} ({{segment.startTime | amDateFormat:'YYYYMMDD - h:mma' }} to {{segment.endTime| amDateFormat:'YYYYMMDD - h:mma'
								}})</span>

								<!-- TODO: make this into a component, already used twice -->
								<div *ngFor="let item of segment.items | orderBy:'timestamp':true | inTimeframe:segment">
									<div *ngIf="item.activity" class="activity">
										was
										<b>{{item.activity}}</b> during
										<b>{{item.duration | amDuration:'seconds'}}</b>
										<em>{{item.distance}}</em> meters ({{item.startTime | amDateFormat:'YYYYMMDD - h:mma' }} to {{item.endTime | amDateFormat:'YYYYMMDD - h:mma'}})
										<div *ngFor="let drop of item.drops | orderBy:'timestamp':true">
											<datawhore-drop-atomic [type]="drop.type" [drop]="drop"></datawhore-drop-atomic>
										</div>
									</div>
									<datawhore-drop-atomic [type]="item.type" [drop]="item" *ngIf="item.type"></datawhore-drop-atomic>
								</div>
						</div>
	
						<div *ngSwitchDefault>
								<div *ngFor="let item of segment.items | orderBy:'timestamp':true | inTimeframe:segment">
									
									<div *ngIf="item.activity" class="activity">
										was
										<b>{{item.activity}}</b> during
										<b>{{item.duration | amDuration:'seconds'}}</b>
										<em>{{item.distance}}</em> meters ({{item.startTime | amDateFormat:'YYYYMMDD - h:mma' }} to {{item.endTime | amDateFormat:'YYYYMMDD - h:mma'}})
										<div *ngFor="let drop of item.drops | orderBy:'timestamp':true">
											<datawhore-drop-atomic [type]="drop.type" [drop]="drop"></datawhore-drop-atomic>
										</div>
									</div>
									<datawhore-drop-atomic [type]="item.type" [drop]="item" *ngIf="item.type"></datawhore-drop-atomic>
									
								</div>
							</div>
					</div>
			</div>

		</div>
	</div>
</div>
