<div class="columns">
  <div class="column is-half">
    <div class="header">
      <h3 class="is-pulled-left heading">Oauth Settings</h3>
    </div>
    <hr>
  <!--<pre>{{ space.oauth | json}}</pre>-->
    <div *ngIf="space.oauth.settings.length && !space.inEditMode">
      <table class="is-small">
        <tr *ngFor="let spaceProp of space.oauth.settings">
          <td class="label"><strong>{{spaceProp.label}}</strong></td>
          <td *ngIf="spaceProp.value">{{spaceProp.value}}</td>
          <td *ngIf="!spaceProp.value">(<em>{{spaceProp.keyName}}</em>) has not been set yet</td>
        </tr>
      </table>

      <div *ngIf="space.oauth.extras.length && !space.inEditMode">
        <table class="is-small is-grey">
          <tr *ngFor="let spaceProp of space.oauth.extras">
            <td class="label is-grey"><strong>{{spaceProp.label}}</strong></td>
            <td>{{spaceProp.value}}</td>
          </tr>
        </table>
      </div>
      <hr>
      <p class="control">
        <label class="checkbox">
          <input #passportEnabled type="checkbox" [(ngModel)]="isPassportCapable">
          Passport enabled? (<a class="is-primary" href="http://passportjs.org/">check here</a>)
        </label>
      </p>
    </div>
    <div *ngIf="space.inEditMode">

      <div *ngFor="let spaceProp of space.oauth.settings" class="control is-horizontal">
        <div class="control-label">
          <strong>{{spaceProp.label}}</strong>
        </div>
        <div class="control">
          <input type="text" class="input" [(ngModel)]="spaceProp.value">
        </div>
      </div>
      <div *ngIf="space.oauth.settings.length">
        <a class="button is-success" (click)="updateSpaceSettings()">
          <span>Save</span>
        </a>
        <a class="button" (click)="space.inEditMode = false">
          <span>Cancel</span>
        </a>
      </div>

    </div>

    <a class="button is-{{(space.oauth.configured)? 'primary' : 'success'}}" (click)="onToggleEditSpace.emit()" *ngIf="!space.inEditMode">
      <!--<span class="fa fa-{{(space.oauth.configured)? 'edit' : 'plus-circle'}} icon"></span>-->
      <span>{{(space.oauth.configured) ? 'Edit' : 'Add'}} Oauth Settings</span>
    </a>
  </div>
  <div class="column">
    <div class="header">
      <h3 class="is-pulled-left heading">Space Settings</h3>
    </div>
    <hr>
    <div>
      <div class="label">
        Space image
      </div>
      <a (click)="uploader.uploadAll()">
        <span class="fa fa-cloud-upload"></span>
      </a>
      <input type="file" class="is-expanded" name="single" ng2FileSelect [uploader]="uploader" />
    </div>
    <hr>
    <div class="space-actions is-flex">
      <div *ngIf="space.oauth.settings.length">
        <a
          class="button is-{{(space.oauth.connected) ? 'success' : 'warning'}}"
          href="{{space.oauth.extras | populateMatches: 'authorizationUrl'}}"
          *ngIf="space.oauth && space.oauth.authorizationUrl">
          <span *ngIf="!space.oauth.connected">Connect</span>
          <span *ngIf="space.oauth.connected">Reconnect</span>
        </a>
      </div>
      <a class="button is-danger" (click)="onRemoveSpace.emit()">
        <span>Remove space</span>
      </a>
    </div>
  </div>
</div>
<!--<pre>{{space | json}}</pre>-->
