<div class="header">
  <h2 class="is-pulled-left heading">{{spaceName}}</h2>
    <a class="button is-primary" (click)="getAccessToken(spaceName)" [class.is-loading]="isRequestingAccessToken">
        <span class="icon is-small is-outlined"><i class="fa fa-key"></i></span>
        <span>Request Access Token</span>
    </a>
</div>

<div class="is-flex-vertical">
    <h5 class="is-pulled-left heading">Params</h5>
    <pre>{{params | json}}</pre>
</div>
<hr>
<div class="is-flex-vertical">
    <h5 class="is-pulled-left heading">Query Params</h5>
    <pre>{{queryParams | json}}</pre>
</div>
<hr>
<div class="is-flex-vertical">
    <h5 class="is-pulled-left heading">Space</h5>
    <pre>{{space | json}}</pre>
</div>
