

<div *ngIf="drops">
  <div *ngFor="let dropType of dropTypes">
    <div class="header">
      <span class="heading is-pulled-left">{{dropType}} Drops</span>
      <a (click)="fetchNewDrops(dropType)"
         [class.is-loading]="isLoading"
         class="button is-info is-small is-pulled-right is-marginless"> fetch {{dropType}}</a>
    </div>
    <hr>
      <datawhore-drop-atomic [drop]="drop" *ngFor="let drop of drops[dropType] | orderDropBy:'date'"></datawhore-drop-atomic>
    <hr>
  </div>
</div>

