

  <div *ngFor="let dropType of dropTypes">
    <div class="header">
      <span class="heading is-pulled-left">{{dropType}} Drops</span>
      <a (click)="getMoreDrops(dropType)"
         class="button is-info is-small is-pulled-right is-marginless"> fetch {{dropType}}</a>
    </div>
    <hr>
    <div  *ngIf="drops">
      <datawhore-drop-atomic [drop]="drop" *ngFor="let drop of drops[dropType] | orderDropBy:'date'"></datawhore-drop-atomic>
    </div>

    <div *ngIf="!drops">
      No <strong>{{dropType}}</strong> drops yet.
    </div>
    <hr>
  </div>

