<section class="hero is-dark">
    <div class="hero-body" *ngIf="space">
        <div class="container">
            <div></div>
            <div class="heading">
                <h2 class="is-flex">
                    <a (click)="uploadImage=!uploadImage">
                        <figure class="image is-32x32">
                            <img src="{{(space.icon) ? space.icon : 'http://bulma.io/images/placeholders/32x32.png'}}">
                        </figure>
                    </a>
                    {{space?.name}}
                </h2>
            </div>
            <div class="space-last-modified is-inline-flex">
                <span class="icon is-small" *ngIf="space?.oauth">
                    <i class="fa fa-{{(space.oauth.connected)? 'check' : 'exclamation'}}-circle is-{{(space.oauth.connected)? 'success' : 'danger'}}"></i>
                </span>
                <small>
                    Last modified: {{space.modified | date:'medium'}}
                </small>
            </div>
            <hr>
            <div class="is-flex">

                <figure class="image is-24x24 is-circle" *ngIf="space?.avatar"><img src="{{space.avatar}}"></figure>
                <span *ngIf="space?.username">@{{space.username}}</span>

            </div>
            <p *ngIf="space?.description">{{space.description}}</p>

        </div>
    </div>
</section>
<section class="hero-body">
    <div class="container" *ngIf="space?.oauth" [ngSwitch]="activeTab">
        <div class="tabs">
            <ul>
                <li (click)="setActiveTab('profile')" [class.is-active]="activeTab === 'profile'" *ngIf="space.oauth.connected"><a>Profile</a></li>
                <li (click)="setActiveTab('rain')" [class.is-active]="activeTab === 'rain'" *ngIf="space.oauth.connected"><a>Rain</a></li>
                <li (click)="setActiveTab('space')" [class.is-active]="activeTab === 'space'"><a>Space</a></li>
            </ul>
        </div>
        <div class="tab profile" *ngSwitchDefault>
            <div class="columns">
                <div class="column is-half" *ngIf="profile">

                    <div class="header">
                        <h3 class="is-pulled-left heading">Profile Structure & Example</h3>
                    </div>
                    <hr>
                    <div class="structure">
                        <ul>
                            <li *ngFor="let property of profile.properties">
                                {{property.friendlyName}} ⇢ <cite>{{property.schemaPath}}</cite>
                            </li>
                        </ul>
                        <p *ngIf="!profile?.properties">
                            No profile properties yet
                        </p>
                    </div>

                    <div class="example" [class.is-hidden]="!profile?.properties">
                        <datawhore-space-item [properties]="profile.properties" [type]="'profile'"
                                              [space]="space"
                                              (linkingToSpace)="updateSpace($event)"></datawhore-space-item>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="header">
                        <h3 class="is-pulled-left heading">Profile Schema</h3>
                    </div>
                    <div *ngIf="profileSchema?.propertyBucket">

                        <div [class.is-loading]="isFetchingSchema">
                            <datawhore-profile-form [model]="profileSchema"
                                                    [dimType]="'profile'" [space]="space"
                                                    (onProfileSchema)="profileSchema = $event"
                                                    (onNewDimensions)="newDimensions($event)"></datawhore-profile-form>
                            <hr>
                            <article class="message is-warning">
                                <div class="message-body is-inline-flex">
                                    <small>
                                        Resetting the profile doesn't affect the structure, but will edit the items
                                        available in
                                        it, and so the example space item.
                                    </small>
                                </div>
                            </article>
                        </div>
                    </div>
                    <hr>
                    <p *ngIf="!profileSchema?.propertyBucket">
                        No profile schema fetched yet.
                    </p>
                </div>


            </div>
        </div>
        <div class="tab space" *ngSwitchCase="'rain'">

            <datawhore-rain-configs
                    [spaceOauthSettings]="spaceOauthSettings"
                    [newDimensions]="newDimensions"
                    [space]="space">
            </datawhore-rain-configs>

        </div>
        <div class="tab space" *ngSwitchCase="'space'">
            <datawhore-space-config
                    (onRemoveSpace)="removeSpace()"
                    (onToggleEditSpace)="toggleEditSpace()"></datawhore-space-config>

        </div>


    </div>
</section>
