<section class="hero is-dark">
    <div class="hero-body" *ngIf="space">
        <div class="container">
            <div></div>
            <div class="heading">
                <h2 class="is-flex">
                    <a (click)="uploadImage=!uploadImage">
                        <figure class="image is-32x32">
                            <img src="{{(space.icon) ? space.icon : 'http://bulma.io/images/placeholders/32x32.png'}}">
                        </figure>
                    </a>
                    {{space?.name}}
                </h2>
            </div>
            <div class="space-last-modified is-inline-flex">
                <span class="icon is-small" *ngIf="space?.oauth">
                    <i class="fa fa-{{(space.oauth.connected)? 'check' : 'exclamation'}}-circle is-{{(space.oauth.connected)? 'success' : 'danger'}}"></i>
                </span>
                <div *ngIf="uploadImage">
                    <input type="file" class="form-control" name="single" ng2FileSelect
                           [uploader]="uploader"/>
                    <a type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()">
                        <span class="fa fa-cloud-upload"></span>
                    </a>
                </div>
                <small>
                    Last modified: {{space.modified | date:'medium'}}
                </small>
            </div>
            <hr>
            <div class="is-flex">

                <figure class="image is-24x24 is-circle" *ngIf="space?.avatar"><img src="{{space.avatar}}"></figure>
                <span *ngIf="space?.username">@{{space.username}}</span>

            </div>
            <p *ngIf="space?.description">{{space.description}}</p>

        </div>
    </div>
</section>
<section class="hero-body">
    <div class="container" *ngIf="space?.oauth" [ngSwitch]="activeTab">
        <div class="tabs">
            <ul>
                <li (click)="setActiveTab('profile')" [class.is-active]="activeTab === 'profile'"><a>Profile</a></li>
                <li (click)="setActiveTab('rain')" [class.is-active]="activeTab === 'rain'"><a>Rain</a></li>
                <li (click)="setActiveTab('space')" [class.is-active]="activeTab === 'space'"><a>Space</a></li>
            </ul>
        </div>
        <div class="tab profile" *ngSwitchDefault>
            <div class="header">
                <h2 class="is-pulled-left heading">space Item: Profile</h2>
            </div>
            <div class="columns">
                <div class="column is-half" *ngIf="profile">

                    <div class="header">
                        <h3 class="is-pulled-left heading">Profile Structure & Example</h3>
                    </div>
                    <hr>
                    <div class="structure">
                        <ul>
                            <li *ngFor="let property of profile.properties">
                                {{property.friendlyName}} ⇢ <cite>{{property.schemaPath}}</cite>
                            </li>
                        </ul>
                        <p *ngIf="!profile?.properties">
                            No profile properties yet
                        </p>
                    </div>

                    <div class="example" *ngIf="profile?.properties">
                        <datawhore-space-item [properties]="profile.properties" [type]="'profile'"
                                              [space]="space"
                                              (linkingToSpace)="updateSpace($event)"></datawhore-space-item>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="header">
                        <h3 class="is-pulled-left heading">Profile Schema</h3>
                    </div>
                    <div *ngIf="profileSchema?.propertyBucket">

                        <div [class.is-loading]="isFetchingSchema">
                            <datawhore-profile-form [model]="profileSchema"
                                                    [dimType]="'profile'" [space]="space"
                                                    (onProfileSchema)="profileSchema = $event"
                                                    (onNewDimensions)="newDimensions($event)"></datawhore-profile-form>
                            <hr>
                            <article class="message is-warning">
                                <div class="message-body is-inline-flex">
                                    <small>
                                        Resetting the profile doesn't affect the structure, but will edit the items
                                        available in
                                        it, and so the example space item.
                                    </small>
                                </div>
                            </article>
                        </div>
                    </div>
                    <hr>
                    <p *ngIf="!profileSchema?.propertyBucket">
                        No profile schema fetched yet.
                    </p>
                </div>


            </div>
        </div>
        <div class="tab space" *ngSwitchCase="'rain'">

            <div class="header">
                <h2 class="is-pulled-left heading">Rain Configuration</h2>
                <a class="button is-small is-warning" [class.is-loading]="isFetchingSchema"
                   (click)="resetRain('post')">
                    <span class="icon is-small"><i class="fa fa-refresh"></i></span>
                    <span>Fetch schema</span>
                </a>
            </div>
            <article class="media columns" *ngFor="let rainSchema of rainSchemas; let $i = index;">
                <div class="column is-half" *ngIf="profile">
                    <div class=" configure-rain">
                        <datawhore-rain-form
                                [model]="rainSchema"
                                [dimType]="'rain'" [space]="space"
                                (onRainSchema)="updateRainSchema($event)"
                                (onNewDimensions)="newDimensions($event)">

                        </datawhore-rain-form>
                    </div>
                </div>
                <div class="column is-half" *ngIf="rain.length">

                    <div class="header">
                        <h3 class="is-pulled-left heading">Profile Structure & Example</h3>
                    </div>
                    <hr>
                    <div class="structure">
                        <ul>
                            <li *ngFor="let property of rain[$i].properties">
                                {{property.friendlyName}} ⇢ <cite>{{property.schemaPath}}</cite>
                            </li>
                        </ul>
                        <p *ngIf="!rain[$i].properties">
                            No profile properties yet
                        </p>
                    </div>

                    <div class="example" *ngIf="rain[$i].properties">
                        <datawhore-space-item [properties]="rain[$i].properties"
                                              [type]="'rain'"
                                              [space]="space"
                                              (linkingToSpace)="updateSpace($event)">
                        </datawhore-space-item>
                    </div>
                </div>
            </article>
        </div>
        <div class="tab space" *ngSwitchCase="'space'">

            <div class="header">
                <h2 class="is-pulled-left heading">space Oauth Settings</h2>

                <span class="tag is-warning" *ngIf="hasExpiryToken">
                    <i class="fa fa-exclamation-triangle icon is-small"></i>
                    <span>Token expires on {{tokenExpiryDate | date:'medium'}}</span>
                </span>
            </div>
            <div>
                <div *ngIf="space?.oauth?.settings?.length && !space?.inEditMode">
                    <table>
                        <tr *ngFor="let spaceProp of space?.oauth.settings">
                            <td class="label"><strong>{{spaceProp.label}}</strong></td>
                            <td *ngIf="spaceProp.value">{{spaceProp.value}}</td>
                            <td *ngIf="!spaceProp.value">(<em>{{spaceProp.keyName}}</em>) has not been
                                set yet</td>
                        </tr>
                    </table>
                </div>
                <div *ngIf="space?.inEditMode">

                    <div *ngFor="let spaceProp of space?.oauth.settings" class="control is-horizontal">
                        <div class="control-label">
                            <strong>{{spaceProp.label}}</strong>
                        </div>
                        <div class="control">
                            <input type="text" class="input" [(ngModel)]="spaceProp.value">
                        </div>
                    </div>
                    <div *ngIf="space?.oauth.settings.length">
                        <a class="button is-primary"
                           href="{{space.oauth.settings | populateMatches: 'authorizationUrl'}}"
                           *ngIf="space.oauth && space.oauth.authorizationUrl">
                            <span *ngIf="!space.oauth.connected">Connect</span>
                            <span *ngIf="space.oauth.connected">Reconnect</span>
                        </a>
                        <a class="button is-success" (click)="updateSpaceSettings()">
                            <span>Save</span>
                        </a>
                        <a class="button" (click)="space.inEditMode = false">
                            <span>Cancel</span>
                        </a>
                    </div>

                </div>
                <div *ngIf="space?.oauth?.extras?.length && !space?.inEditMode">
                    <details>
                        <summary>Acquired Oauth Settings</summary>

                        <table>
                            <tr *ngFor="let spaceProp of space?.oauth.extras">
                                <td class="label"><strong>{{spaceProp.label}}</strong></td>
                                <td>{{spaceProp.value}}</td>
                            </tr>
                        </table>
                    </details>
                </div>
                <a class="button is-{{(space?.oauth.configured)? 'primary' : 'success'}}"
                   (click)="toggleEditSpace(space)" *ngIf="!space?.inEditMode">
                    <span class="fa fa-{{(space?.oauth.configured)? 'edit' : 'plus-circle'}} icon"></span>
                    <span>{{(space?.oauth.configured) ? 'Edit' : 'Add'}} Oauth Settings</span>
                </a>
                <a class="button is-danger"
                   (click)="removeSpace(space)">
                    <span class="fa fa-trash icon"></span>
                    <span>Remove space</span>
                </a>

            </div>
        </div>


    </div>
</section>