<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="heading">
                <h2 class="is-flex">
                    <a (click)="uploadImage=!uploadImage">
                        <figure class="image is-32x32">
                        <img src="{{(space?.icon) ? space?.icon : 'http://bulma.io/images/placeholders/32x32.png'}}">
                        </figure>
                    </a>
                    {{space?.name}}
                </h2>
            </div>
            <small>Last modified: {{space?.modified | date:'medium'}}</small>
            <div *ngIf="uploadImage" >
                <input type="file" class="form-control" name="single" ng2FileSelect
                       [uploader]="uploader"/>
                <a type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()">
                    <span class="fa fa-cloud-upload"></span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="hero-body">
    <div class="container" *ngIf="space?.oauth">
        <div *ngIf="!space?.inEditMode"><details *ngIf="space?.oauth.extras.length">
                <summary>Oauth Settings</summary>
                <ul>
                    <li *ngFor="let spaceProp of space?.oauth.settings">
                        <div *ngIf="spaceProp.value">
                            <strong>{{spaceProp.label}}</strong>: {{spaceProp.value}}
                        </div>
                        <div *ngIf="!spaceProp.value">
                            <strong>{{spaceProp.label}}</strong> (<em>{{spaceProp.keyName}}</em>) has not been
                            set yet
                        </div>
                    </li>
                </ul>
            </details>
            <details *ngIf="space?.oauth.extras.length">
                <summary>Acquired Oauth Settings</summary>
                <ul *ngFor="let spaceProp of space?.oauth.extras">
                    <li>
                        <strong>{{spaceProp.label}}</strong>: {{spaceProp.value}}
                    </li>
                </ul>
            </details>
            <a class="button" (click)="toggleEditSpace(space)">Edit Oauth Settings</a>
            <small *ngIf="hasExpiryToken">Token expires on {{tokenExpiryDate | date:'medium'}}</small>

        </div>
        <div *ngIf="space?.inEditMode">

            <ul *ngFor="let spaceProp of space?.oauth.settings">
                <li class="control">
                    <strong>{{spaceProp.label}}</strong>
                    <input type="text" class="input" [(ngModel)]="spaceProp.value">
                </li>
            </ul>

            <a class="button is-primary" href="{{space.oauth.authorizationUrl}}"
               *ngIf="space.oauth && space.oauth.authorizationUrl">
                <span *ngIf="!space.connected">Connect</span>
                <span *ngIf="space.connected">Reconnect</span>
            </a>
            <a class="button is-success" (click)="updateSpaceSettings(space)">
                <span>Save</span>
            </a>
            <a class="button" (click)="space.inEditMode = false">
                <span>Cancel</span>
            </a>
        </div>
        <hr>
        <div class="heading">
            <h2>profile settings</h2>
            <a class="button" (click)="resetRawProfile()">
                get profile
            </a>

        </div>
        <div *ngIf="profile">
            <pre>{{ profile | json }}</pre>
            <hr>
        </div>
        <div  class="columns" *ngIf="profileSchema?.propertyBucket">
            <div class="column is-half">
                <details>
                    <summary>Space Properties (RAW)</summary>
                    <pre>{{ profileSchema.propertyBucket | json }}</pre>
                </details>
            </div>
            <div class="column is-half">
                <datawhore-dim-form [model]="profileSchema.propertyBucket" [dimType]="'profile'"
                                    [space]="space" (onNewDimensions)="newDimensions($event)"></datawhore-dim-form>
            </div>
            <hr>
        </div>
        <div *ngIf="profileSchema">
            <details>
                <summary>Space Profile (RAW)</summary>
                <pre>{{ profileSchema | json }}</pre>
            </details>
        </div>
    </div>
</section>