@import "bulma-vars";
// datawhore mixins

.border-bottom() {
    margin: 10px 0;
    padding-bottom: 9px;
    border-bottom: 1px solid fade(@black-ter, 5%);
    &:last-of-type {
        border: none;
    }
}

.bgmixin(@color) {
    @classname: ~"@{color}"; 

    @data-name: ~'data-color';
    // [@{data-name}="true"] .@{name}-icon {
    //     display: inline-block;
    // }
    // .@{classname} {
    //     background-color: @@color;
        // &.is-outline {
            background-color: fade(@@color, 50%);
            border: 1px solid @@color;
        // }
    // }
}

